:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #2f303a;
  --primary-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header .logo {
  color: #000000;
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.site-nav .link {
  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link.curent {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact .link {
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.section {
}

.section-title {
  color: var(--title-text-color);
}

.footer {
  background-color: var(--secondary-bg-color);
}

.footer .logo {
  color: var(--primary-color);
}
